@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body{
    background-color: rgb(182, 230, 230);
}
header{
    margin: 20px 200px 0px 200px;
}
header ul{
    position: relative;
    bottom: 50px;
    right: 10px;
}
form{
    padding: 0px 365px 20px 365px;
    font-family: 'Courgette',sans-serif;
}
fieldset{
    color: teal;
}
input{
    background-color: teal;
    color: turquoise;
    font-family: 'Courgette',sans-serif;
}
label{
    color: teal;
    font-family: 'Courgette',sans-serif;
}
table{
    padding: 20px 20px 20px 20px;
    margin: 0px 200px 40px 370px;
    border: teal solid;
    border-width: 100%;
}
th{
    color: teal;
    font-family: 'Open Sans Condensed', serif;
    text-align: left;
}
td{
    color: rgb(63, 62, 62);
    font-family: 'Open Sans Condensed', serif;
    text-align: center;
}
